<div class="posts">
    <p class="date" style="background-color: {{user.color}}">{{toDate dateTime}}</p>
    <p class="subject">{{this.subject}} by {{this.user.username}}</p>
    <p class="content">{{this.body}}</p>
</div>